{% extends "base.html" %}

{% block content %}
<h1 class="m-2">{{ docs }}</h1>


    <div class="accordion" id="accordionExample">
        {% for cat in cats %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-{{ forloop.counter }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse-{{ forloop.counter }}">
                {{ cat.category }}
            </button>
          </h2>
          <div id="collapse-{{ forloop.counter }}" class="accordion-collapse collapse show" aria-labelledby="heading-{{ forloop.counter }}" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    {% for sub in subs %}
                        {% if sub.linked_category == cat %}
                            <a href="./{{ sub.id }}">
                                <li>{{ sub.title|safe }}</li>
                            </a>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
{% endblock content %}